// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$font1: 'Montserrat', sans-serif;
$font2: 'Raleway', sans-serif;

body {
	background: #136a8a;
	background: -webkit-linear-gradient(to left, #136a8a , #267871);
	background: linear-gradient(to left, #136a8a , #267871);
}

.alerts {
	margin-top: 50px;
}

.title {
	margin-top: 200px;
	margin-bottom: 100px;
	text-align: center;
	color: white;
	font-size: 100px;
	font-family: $font1;
}

.wrapper {
  $height: 60px;
  
  position: relative;
  width: 100%;
  height: $height;
  
  &:after {
    content: attr(data-value);
    font-size: 18px;
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
  }

  .upload {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    height: $height - 20px;
    margin: 0;
    padding: 0;
    display: block;
    cursor: pointer;
    width: 100%;
  }
}

.pic {
	margin: 0 auto;

	.profile-img {
	height: 200px;
	width: 200px;
	display: block;
	margin: 0 auto;
	}
}

.info {
	margin-top: -70px;
	background: #ddd;
	min-height: 800px;
	border: 1px solid gray;
	border-radius: 10px;
  font-family: $font2;

	.name {
		margin-top: 100px;
		text-align: center;
		font-family: $font1;
		font-size: 72px;
	}
}

.spacer {
  div {
    padding-left: 25px;
    padding-right: 25px;
  }
}
